
@import url("./navbar.scss");
@import url("./bookings.scss");


* {
  font-family: Mulish!important;
}


.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
}

.main {
    background-color: #f4f6ef;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out,
        margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    width: 100%;
    padding:  100px 80px;
    @media (min-width: 1px) and (max-width: 991.98px) {
      padding: 40px 30px;
    }
}

h1 {
  font-size: 28px;
  font-weight: 600;
  color: #13294B;
  margin-bottom: 45px;
}